.copybutton {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  background-color: silver;
  border-radius: 0 1.2rem;
  font-size: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  text-align: center;
  width: 2rem;
  box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.15);
  user-select: none;
}

.copybutton:active {
  transform: translateY(2px) translateX(-2px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
