body {
    background-image: url(/crop011kumakichi0327.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: "M PLUS 1p";
}

#root>div {
    margin: 0 auto;
    width: 42rem;
}

h1 {
    color: #0c44e84a;
}
.user {
    text-align: center;
    color: white;
    padding: 2rem 0;
    font-size: 2rem;
}

.card {
    text-align: center;
    border-radius: .5rem;
    background-color: #F3EDE2;
    box-shadow: 0 3px 0px 0px rgba(0,0,0,.15);
    user-select: none;
}

.selection {
    display: flex;
    flex-wrap: wrap;
}

.selection .card {
    margin: 0 0 .75rem .75rem;
    padding: 1rem .5rem 1rem .5rem;
    width: 1.5rem;
    cursor: pointer;
    border-width: 2px;
    transition: background-color 0.2s ease-in-out 0s;
}

.selection .card:hover {
    background-color: #e8bcbc;
}

.selection .card.selected {
    background-color: rgb(241, 127, 127);
}

.table {
    background: linear-gradient(140deg, #6fa27f 30%, #6fa27fa0);
    padding: 1rem 1rem 0 0;
    border-radius: 20px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.15);
    margin-top: 2rem;
}

.table .estimaters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.table .estimater {
    margin: 0 0 2rem 2rem;
    width: 3.5rem;
    display: inline-block;
}

.table .copy-button {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    background-color: silver;
    border-radius: 0 1.2rem;
    font-size: .5rem;
    padding: .25rem;
    cursor: pointer;
    text-align: center;
    width: 2rem;
    box-shadow: -1px 3px 3px 0 rgba(0,0,0,.15);
    user-select: none;
}
.table .copy-button:active {
    transform: translateY(2px) translateX(-2px);
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
}

.estimater .card {
    padding-top: 1rem;
    height: 4rem;
    font-size: 2rem;
    transition: background-color 0.2s ease-in-out 0s;
}

.estimater.closed .card {
    background-color: #260fa0;
}

.estimater-name {
    color: white;
    text-align: center;
}

.open-button {
    margin: 2rem auto;
    width: 15rem;
    text-align: center;
    font-size: 2rem;
    border-radius: .5rem;
    background-color: silver;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
    transition: transform 0.1s ease-in-out 0s;
    user-select: none;
}
.open-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgba(0,0,0,.15);
}
