#root>div {
    margin: 0 auto;
    width: 42rem;
}

.user {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}

.card {
    text-align: center;
    border-radius: .5rem;
    background-color: white;
    border-style: solid;
    border-color: rgb(25, 6, 110);
}

.selection {
    display: flex;
    flex-wrap: wrap;
}

.selection .card {
    margin: 0 0 .75rem .75rem;
    padding: 1rem .5rem 1rem .5rem;
    width: 1.5rem;
    cursor: pointer;
    border-width: 2px;
}

.selection .card.selected {
    background-color: rgb(241, 127, 127);
}

.table {
    background-color: rgb(14, 121, 14);
    padding: 1rem 1rem 0 0;
    border: 10px solid rgb(102, 71, 5);
    border-radius: 20px;
    height: 400px;
    position: relative;
}

.table .estimaters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
}

.table .estimater {
    margin: 0 0 2rem 2rem;
    width: 3.5rem;
    display: inline-block;
}

.table .copy-button {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    background-color: silver;
    border-radius: 0 .5rem;
    font-size: .5rem;
    padding: .25rem;
    cursor: pointer;
}

.estimater .card {
    padding-top: 1rem;
    height: 4rem;
    font-size: 2rem;
    border-width: 3px;
}
.estimater.closed .card {
    background-color: rgb(56, 32, 161);
}

.estimater-name {
    color: white;
}

.open-button {
    margin: 2rem auto;
    width: 15rem;
    text-align: center;
    font-size: 2rem;
    border: 1px solid gray;
    border-radius: .5rem;
    background-color: silver;
    cursor: pointer;
}

.show-button:hover {
    background-color: rgb(231, 227, 227);
}